.HomePage {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    margin-block-start: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
}

.HomePage a {
    width: max-content;
    padding: 6px 10px;
    border: 1px solid #5f59f7;
    border-radius: 6px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
}

.HomePage a:hover {
    background-color: #5f59f7;
    color: white; 
}